
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> symfony/phpunit-bridge ###
.phpunit
.phpunit.result.cache
/phpunit.xml
###< symfony/phpunit-bridge ###

###> local ###
.idea
.DS_Store
node_modules
composer.lock
composer.json.dev
public/vendor/
public/uploads/
###< local ###

###> liip/imagine-bundle ###
/public/media/cache/
###< liip/imagine-bundle ###